<h1>Add Project</h1>
<form  action="/project" method="post">
  <input  name = "description" type="text" placeholder="insert description here">
  <input type="hidden"  name = "employee_id"  value="<%=@employee.id %>">
  <button type="submit">Add Project</button>
</form>

<br>

<% if (!@projects.nil?) %>
<ul>
  <% @projects.each do  |project| %>
  <li><a href= "/projects/<%= project.id %>"> <%= project.description %></a></li>
  <% end %>
</ul>
<% end %>
