<h1>Add Division</h1>
<form  action="/division" method="post">
  <input id="description" name = "description" type="text" placeholder="insert name here">
  <button type="submit">Add Division</button>
</form>

<br>

<% if (!@divisions.nil?) %>
<ul>
  <% @divisions.each do  |division| %>
  <li><a href = "/divisions/<%= division.id %>"><%= division.description %> </a> </li>
  <% end %>
</ul>
<% end %>
